<md-card class="mainCard">
  <md-toolbar>
    <span>Add Teacher</span>
  </md-toolbar>

  <div class="row">
   <div class="col"></div>
   <div class="col-md-10">
      <form >
        <div class="flex flex-column padding">
          <div>
            <md-input-container>
              <input mdInput placeholder="Firstname" required id="">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <input mdInput placeholder="Lastname" required id="">
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <input mdInput placeholder="Contact #" fullWidth={true} required id="">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <input mdInput type="email" placeholder="Email" fullWidth={true} required id="">
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <input mdInput placeholder="Username" required id="">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <input mdInput placeholder="Password" required id="">
            </md-input-container>
          </div>

           <div>
            <md-input-container>
              <input mdInput placeholder="CNIC" fullWidth={true} required id="">
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <input mdInput placeholder="Address" fullWidth={true} required id="">
            </md-input-container>
          </div>

        </div>
        <button class="float-right" md-raised-button color='accent'>Add Teacher</button>
      </form>
   </div>
   <div class="col"></div>
  </div>
</md-card>
