
  <md-card class="sideNavHeader">
    <div class="flex flex-column flex-baseline-items header-info">
         <img class="side-nav-img" src="../../../../assets/admin1.jpg"/>
         <h5 style="color:#fff;">Admin</h5>
         
    </div>
     
  </md-card>
  <md-list class="side-menu">
    <md-list-item> <md-icon md-list-icon>home</md-icon> <a md-line routerLink="dashboard">Dashboard</a> </md-list-item>
    <md-list-item> <md-icon md-list-icon>account_circle</md-icon> <a md-line routerLink="students">Students</a> </md-list-item>
    <md-list-item> <md-icon md-list-icon>account_circle</md-icon> <a md-line routerLink="teachers">Teachers</a> </md-list-item>   
    <md-list-item> <md-icon md-list-icon>account_circle</md-icon> <a md-line routerLink="parents">Parents</a> </md-list-item>
    <md-list-item> <md-icon md-list-icon>account_circle</md-icon> <a md-line routerLink="classes">Classes</a> </md-list-item>
    <!--<md-list-item> <md-icon md-list-icon>folder</md-icon> <a md-line routerLink="attendance">Attendance</a> </md-list-item>-->
    <md-list-item> <md-icon md-list-icon>account_balance_wallet</md-icon> <a md-line routerLink="">Logout</a>  </md-list-item>
  </md-list>

