<md-card class="mainCard">
  <md-toolbar>
    <div class="flex flex-row flex-space-between">
      <span>Dashboard</span>
    </div> 
  </md-toolbar>

  <md-grid-list cols="2" rowHeight="4:1" class="margin-top">
    <md-grid-tile>
      <md-card class="dashboard-item">
          <div class="flex flex-row flex-center-items flex-space-between">
             <img src="../../../assets/blackboard.svg" class="item-img img-responsive"/>
             <h5 class="xtext-class">28</h5>
          </div>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="dashboard-item">
          <div class="flex flex-row  flex-space-between">
             <img src="../../../assets/parents.svg" class="item-img img-responsive "/>
             <h5 class="xtext-parent">345</h5>
          </div>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="dashboard-item">
          <div class="flex flex-row flex-center-items flex-space-between">
             <img src="../../../assets/student.svg" class="item-img img-responsive"/>
             <h5 class="xtext-student">1445</h5>
          </div>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card class="dashboard-item">
          <div class="flex flex-row flex-center-items flex-space-between">
             <img src="../../../assets/teacher.svg" class="item-img img-responsive"/>
             <h5 class="xtext-teacher">75</h5>
          </div>
      </md-card>
    </md-grid-tile>
  </md-grid-list>


  <md-card class="margin-horizontal margin-top">
    <h6>Attendance</h6>
    <div>
        
    </div>
  </md-card>


</md-card>

